.ironsworn.sheet.character {
    min-width: 600px;
    min-height: 768px;

    .character-sheet-wrapper {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 100px auto 100px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            " header header header"
            " momentum body status"
            " footer footer footer";

        .character-sheet-body {
            grid-area: body;
            background-color: white;
        }

        .character-sheet-footer {
            grid-area: footer;
            background-color: grey;
        }

        .character-sheet-header {
            grid-area: header;
            background-color: red;
        }

        .character-sheet-momentum {
            grid-area: momentum;
            background-color: blue;
        }

        .character-sheet-status {
            grid-area: status;
            background-color: green;
        }
    }
}